In [1]:
import pandas as pd
import numpy as np
from sklearn.neighbors import NearestNeighbors

In [2]:

parcel_data = pd.read_csv('./parcelLetter.csv', index_col="Parcel ID")
input_parameters = ['Origin', 'Destination', 'Weight']
output_class = ['Type']
training_data = parcel_data.loc[:20, input_parameters]
training_data_result = parcel_data.loc[:20, output_class]
testing_data = parcel_data.loc[21:, input_parameters]

In [3]:
training_data.describe()
# training_data.columns

       Origin Destination Weight
count      20          20     20
unique      3           3      2
top        HK         Kln  Light
freq       10           8     15

In [4]:
testing_data.describe()

       Origin Destination Weight
count       5           5      5
unique      2           2      2
top       Kln         Kln  Light
freq        4           3      4

In [5]:
from scipy.spatial import distance

testing_data.iloc[0]

Origin           Kln
Destination      Kln
Weight         Light
Name: 21, dtype: object

In [69]:

def hm_d(r1, r2):
#     print(r1)
#     print(r2);
#     print(r1.ne(r2))
    
    return r1.ne(r2).sum()/r1.size
    
    

def cal_hd_to_all(row):
    hamming_distance_row = training_data.apply(lambda d: hm_d(d, row), axis="columns")
    return hamming_distance_row
#     print(row)
#     return row.sum()


hamming_distance_data = training_data.apply(cal_hd_to_all, axis="columns")


hamming_distance_data


# training_data

# training_data
# cal_hd_to_all(training_data.iloc[2])

# training_data.iloc[0] 
# training_data.iloc[0].eq(training_data.iloc[1] )

Parcel ID,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20
Parcel ID,,,,,,,,,,,,,,,,,,,,
1,0.000000,0.666667,0.666667,0.333333,0.666667,0.666667,0.000000,1.000000,0.666667,0.000000,0.333333,0.666667,0.000000,0.666667,0.666667,0.666667,0.333333,0.333333,0.666667,0.000000
2,0.666667,0.000000,0.333333,1.000000,0.000000,0.666667,0.666667,0.333333,0.000000,0.666667,1.000000,0.000000,0.666667,0.000000,1.000000,0.333333,0.666667,0.333333,1.000000,0.666667
3,0.666667,0.333333,0.000000,1.000000,0.333333,0.333333,0.666667,0.666667,0.333333,0.666667,1.000000,0.333333,0.666667,0.333333,1.000000,0.000000,0.666667,0.666667,1.000000,0.666667
4,0.333333,1.000000,1.000000,0.000000,1.000000,1.000000,0.333333,0.666667,1.000000,0.333333,0.000000,1.000000,0.333333,1.000000,0.333333,1.000000,0.666667,0.666667,0.333333,0.333333
5,0.666667,0.000000,0.333333,1.000000,0.000000,0.666667,0.666667,0.333333,0.000000,0.666667,1.000000,0.000000,0.666667,0.000000,1.000000,0.333333,0.666667,0.333333,1.000000,0.666667
6,0.666667,0.666667,0.333333,1.000000,0.666667,0.000000,0.666667,1.000000,0.666667,0.666667,1.000000,0.666667,0.666667,0.666667,0.666667,0.333333,0.333333,0.666667,0.666667,0.666667
7,0.000000,0.666667,0.666667,0.333333,0.666667,0.666667,0.000000,1.000000,0.666667,0.000000,0.333333,0.666667,0.000000,0.666667,0.666667,0.666667,0.333333,0.333333,0.666667,0.000000
8,1.000000,0.333333,0.666667,0.666667,0.333333,1.000000,1.000000,0.000000,0.333333,1.000000,0.666667,0.333333,1.000000,0.333333,0.666667,0.666667,1.000000,0.666667,0.666667,1.000000
9,0.666667,0.000000,0.333333,1.000000,0.000000,0.666667,0.666667,0.333333,0.000000,0.666667,1.000000,0.000000,0.666667,0.000000,1.000000,0.333333,0.666667,0.333333,1.000000,0.666667
10,0.000000,0.666667,0.666667,0.333333,0.666667,0.666667,0.000000,1.000000,0.666667,0.000000,0.333333,0.666667,0.000000,0.666667,0.666667,0.666667,0.333333,0.333333,0.666667,0.000000
11,0.333333,1.000000,1.000000,0.000000,1.000000,1.000000,0.333333,0.666667,1.000000,0.333333,0.000000,1.000000,0.333333,1.000000,0.333333,1.000000,0.666667,0.666667,0.333333,0.333333
12,0.666667,0.000000,0.333333,1.000000,0.000000,0.666667,0.666667,0.333333,0.000000,0.666667,1.000000,0.000000,0.666667,0.000000,1.000000,0.333333,0.666667,0.333333,1.000000,0.666667
13,0.000000,0.666667,0.666667,0.333333,0.666667,0.666667,0.000000,1.000000,0.666667,0.000000,0.333333,0.666667,0.000000,0.666667,0.666667,0.666667,0.333333,0.333333,0.666667,0.000000
14,0.666667,0.000000,0.333333,1.000000,0.000000,0.666667,0.666667,0.333333,0.000000,0.666667,1.000000,0.000000,0.666667,0.000000,1.000000,0.333333,0.666667,0.333333,1.000000,0.666667
15,0.666667,1.000000,1.000000,0.333333,1.000000,0.666667,0.666667,0.666667,1.000000,0.666667,0.333333,1.000000,0.666667,1.000000,0.000000,1.000000,0.333333,1.000000,0.000000,0.666667
16,0.666667,0.333333,0.000000,1.000000,0.333333,0.333333,0.666667,0.666667,0.333333,0.666667,1.000000,0.333333,0.666667,0.333333,1.000000,0.000000,0.666667,0.666667,1.000000,0.666667
17,0.333333,0.666667,0.666667,0.666667,0.666667,0.333333,0.333333,1.000000,0.666667,0.333333,0.666667,0.666667,0.333333,0.666667,0.333333,0.666667,0.000000,0.666667,0.333333,0.333333
18,0.333333,0.333333,0.666667,0.666667,0.333333,0.666667,0.333333,0.666667,0.333333,0.333333,0.666667,0.333333,0.333333,0.333333,1.000000,0.666667,0.666667,0.000000,1.000000,0.333333
19,0.666667,1.000000,1.000000,0.333333,1.000000,0.666667,0.666667,0.666667,1.000000,0.666667,0.333333,1.000000,0.666667,1.000000,0.000000,1.000000,0.333333,1.000000,0.000000,0.666667
20,0.000000,0.666667,0.666667,0.333333,0.666667,0.666667,0.000000,1.000000,0.666667,0.000000,0.333333,0.666667,0.000000,0.666667,0.666667,0.666667,0.333333,0.333333,0.666667,0.000000

In [75]:
def get_closest_points(d_data, k=3):
    sort_data = d_data.sort_values(ascending = True);
    return sort_data.index[:3]

closest3points = hamming_distance_data.apply(get_closest_points, axis='rows')
closest3points

Parcel ID,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20
0,1,2,3,4,2,6,1,8,2,1,4,2,1,2,15,3,17,18,15,1
1,13,5,16,11,5,3,13,2,5,13,11,5,13,5,19,16,1,1,19,13
2,7,9,2,1,9,17,7,5,9,7,1,9,7,9,17,2,15,14,17,7